* {
    font-family: 'Courier New', Courier, monospace;
    background-color: papayawhip;
}

.hidden {
    display: none;
}

header * {
    text-align: center;
    padding-bottom: 10px;
}

header div {
    border-bottom: 1px solid slategray;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

#setup-game {
    display: flex;
    justify-content: space-around;
}

#game-controls {
    text-align: center;
    border-bottom: 1px solid slategray;
}

#setup-game>* {
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
}

#stats >* {
    font-size: 1.5rem;
}

.diff-radio {
    margin-right: 15px;
    cursor: pointer;
}

button {
    justify-self: center;
}

#start-btn {
    background-color: rgb(187, 94, 28);
    border: 2px solid black;
    border-radius: 20%;
    margin-bottom: 20px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

#start-btn:hover {
    background-color: rgb(230, 141, 100);
    text-decoration: underline;
}

#stats{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

p#timer,
p#lives {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
}

#game {
    display: flex;
    justify-content: center;
}

#number-container>* {
    border: 1px solid black;
    border-radius: 20%;
    width: 60px;
    height: 60px;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#number-container>*:hover{
    background-color: aliceblue;
}

#board {
    padding-top: 10px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    width: 600px;
    height: 600px;
}

.tile {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    text-align: center;
    margin: 0px;
    vertical-align: middle;
    font-size: 40pt;
}

.tile:hover{
    background-color: aliceblue;
}

p.selected {
    background-color: lightblue;
}

p.selected:hover {
    background-color: lightblue;
}

p.incorrect {
    color: red;
}

.rightBorder {
    border-right: 4px solid black;
}

.bottomBorder {
    border-bottom: 4px solid black;
}

footer {
    background-color: lightblue;
    text-align: center;
}

@media screen and (max-width: 750px) {

    .game-board {
        white-space: nowrap;
    }

    #board {
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 400px;
        height: 400px;
    }

    .tile {
        border: 1px solid black;
        width: 40px;
        height: 40px;
        text-align: center;
        margin: 0px;
        vertical-align: middle;
        font-size: 30pt;
    }

    #number-container>* {
        border: 1px solid black;
        border-radius: 20%;
        width: 40px;
        height: 40px;
        font-size: 30pt;
        margin-left: 25px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    header>* {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    #game-controls>* {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .rightBorder {
        border-right: 4px solid slategray;
    }

    .bottomBorder {
        border-bottom: 4px solid slategray;
    }


}

@media screen and (max-width: 525px) {

    .game-board {
        white-space: nowrap;
    }

    #board {
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 300px;
        height: 300px;
    }

    .tile {
        border: 1px solid black;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 0px;
        vertical-align: middle;
        font-size: 20pt;
    }

    #number-container>* {
        border: 1px solid black;
        border-radius: 20%;
        width: 30px;
        height: 30px;
        font-size: 20pt;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    .rightBorder {
        border-right: 4px solid slategray;
    }

    .bottomBorder {
        border-bottom: 4px solid slategray;
    }


}

@media screen and (max-width: 430px) {

    .game-board {
        white-space: nowrap;
    }

    #board {
        padding-top: 10px;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        width: 230px;
        height: 230px;
    }

    .tile {
        border: 0.5px solid slategray;
        width: 21px;
        height: 21px;
        text-align: center;
        margin: 0px;
        vertical-align: middle;
        font-size: 15pt;
    }

    #number-container>* {
        border: 1px solid black;
        border-radius: 20%;
        width: 15px;
        height: 15px;
        font-size: 10pt;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
    }

    header {
        font-size: 0.6rem;
    }

    #game-controls {
        font-size: 0.6rem;
    }

    #game-controls div {
        padding-left: 0;
    }

    .rightBorder {
        border-right: 4px solid slategray;
    }

    .bottomBorder {
        border-bottom: 4px solid slategray;
    }


}